.form-content {
  margin-bottom: 100px
}

.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .form-group {
    margin-bottom: 20px;
  }

  .form-control {
    width: 100%;
    font-size: 18px;
    height: 30px;
    overflow-x: auto;
  }

  #body-input {
    height: 200px;
  }

  .button-div, .btn-edit {
    text-align: center;
  }
}

.edit-image-div {
  width: 100%;
  margin-bottom: 50px;

  .edit-current-image {
    width: 70%;
    margin-left: auto;
    margin-right: auto
  }
}

.form-control, textarea {
  border: 1px solid $description-text-color;
  border-radius: 6px;
  padding-left: 10px;
}

textarea {
  overflow-y: auto;
}

.delete-option {
  margin-top: 50px;
  text-align: center
}