<header class="header-div">
  <div class="banner">_ARCHITEKT</div>
  <div class="banner-info">Welcome to our online portfolio.  We are a small group of passionate designers and architects looking to change and create amazing digital images to inspire others to follow in our innovative steps.  Free Architect WordPress Theme</div>
</header>