<header class="header-div">
  <div class="banner">_SUCCULENTS</div>
  <div class="banner-info">Welcome to our online portfolio.  We are a small group of passionate succulent lovers looking to change and create amazing digital images to inspire others to follow in our succulent ways.  Free Architect WordPress Theme</div>
</header>