<nav class="nav-bar">

  <div class="nav-elem">
    <a href="/gallery">Main Gallery</a>
  </div>

  <div class="nav-elem">
    <a href="/gallery/new">Add To Gallery</a>
  </div>

  <div class="nav-elem">
    <a href="/users/{{id}}">My Gallery</a>
  </div>

  <div class="nav-elem">
    <a href="/logout">Logout</a>
  </div>

</nav>