<main class="error-main">

  <div class="error-div">
    <div class="db-err">
      500 - Internal Server Error
    </div>

    <div class="db-sorry">
      Apologies for the inconvenience.<br>Please try again.
    </div>

    <div class="error-go-back">
      <a href="/gallery">
        Go Back<br>
        <i class="far fa-hand-point-left"></i>
      </a>
    </div>
  </div>
</main>