 {{> header}}

<main class="error-main">

  <div class="error-div">
    <div class="db-err">
      We are sad to see you go,<br>but with every "hello"<br>is a "good-bye"
    </div>

    <div class="db-sorry">
      ...until next time!
    </div>
    <div class="error-go-back">
      <br>
      <a href="/">
        Return to Home Page<br><br>
        <i class="fas fa-home"></i>
      </a>
    </div>
  </div>
</main>