<main class="main-home">

<section class="home-wrapper">
  <div class="login-register">

  <div class="login-div">
    <div class="login-prompt">
      <h3>Returning users</h3>
    </div>
    <div class="login-button">
      <button class="home-nav"><a href="/login">Log in</a></button>
    </div>

  </div>

  <div class="login-register-2">

    <div class="login-div">
      <div class="login-prompt">
        <h3>Don't have an account?</h3>
      </div>
      <div class="login-button">
        <button class="home-nav"><a href="/register">Register</a></button>
      </div>

    </div>

</section>
  

</main>