<main class="main-home">

  <div class="login-register">

    <div class="login-div">
      <div class="login-prompt">New User?</div>
      <div class="login-button">
        <button class="home-nav"><a href="/register">Register</a></button>
      </div>
    
    </div>

    <div class="login-div">
      <div class="login-prompt">Returning User?</div>
      <div class="login-button">
        <button class="home-nav"><a href="/login">Log In</a></button>
      </div>
    
    </div>

  </div>

</main>