{{> header}}

<main class="main-home">

<section class="latest-photo">
  <div class="latest-photo-div">
    <img src="{{link}}" class="home-image" alt="latest">
    <br>
    Photo by:&nbsp;<a href="{{link}}">{{author}}</a>
  </div>

</section>

<section class="home-wrapper">
  <div class="login-register">

  <div class="login-div">
    <div class="login-prompt">
      <h3>Happy Day!<br><br>Sign in to view galleries</h3>
    </div>

    <div class="error">
      <h3>{{message}}</h3>
    </div>
    <form action="/login" method="post" role="form" enctype="application/x-www-form-urlencoded">
      <div>
          <input type="text" class="login-input" placeholder="Username" name="username"/>
      </div>
      <br>
      <div>
          <input type="password" class="login-input" placeholder="Password" name="password"/>
      </div>
      <div>

        <br>
          <button type="submit" class="home-nav btn-class" value="Submit"/>Log In</button>
      </div>
    </form>

  </div>

  <div class="login-register-2">

    <div class="login-div">
      <div class="login-prompt">
        <h3>OR...<br><br>Create an account&nbsp;<a href="/register" class="nav-elem">here</a>!</h3>
      </div>
    </div>

</section>
  

</main>